# Database URL (PostgreSQL local connection for dev, or Docker internal connection for Coolify production)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/brk_grievance?schema=public"

# Sanity variables
NEXT_PUBLIC_SANITY_PROJECT_ID="cf3wvwse"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2024-03-11"
